*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: rgb(139,69,19);
    font-family: 'Sansita Swashed', cursive;
}

#main-title {
    position: relative;
    font-size: 1.875rem;
    font-weight: 900;
    top: 25px;
    margin: 50px auto 100px;
    text-align: center;
}

#styleButton {
    display: block;
    font-family: 'Sansita Swashed', cursive;
    position: relative;
    margin: 50px auto;
    font-size: 1.5625rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background: rgb(205,133,0);
    cursor: pointer;
    outline: none;
}

#styleButton:hover {
    background: rgb(205, 92, 0);
}

.form {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out;
    width: 400px;
    z-index:5;
    background: rgb(139,69,19);
}

.form.active {
    transform : translate(-50%, -50%) scale(1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.header-text {
    font-size: 1.25rem;
}

.closeButton {
    font-size: 2rem;
    cursor: pointer;
}

.closeButton:hover {
    transform: scale(1.25);
    color: rgb(205,133,0);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    background: rgb(205,133,0);
    outline: none;
}

.input::placeholder{
    color: rgb(46, 44, 44);
}

#number {
    width: 222.5px;
}

.submit {
    background: rgb(205,133,0);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0 20px;
    cursor: pointer;
}

.submit:hover {
    background: rgb(156, 61, 24);
    transform: scale(1.1);
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 250ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 4;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: 25%;
    width: 1010px;
    margin: 0 20px;
}

.top-row {
    display: flex;    
}

.top-row p {
    border: 3px solid black;
    border-left: none;
    padding: 5px 0;
    width: 150px;
    text-align: center;
    background: rgb(205,133,0);
    font-weight: 700;
    margin: 0;
}

#first-column-top-row {
    border-left: 3px solid black;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p.longer-text {
    width: 300px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.new-row {
    display: flex;
}

.new-row p {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px 0;
    width: 150px;
    text-align: center;
    background: rgb(221, 202, 166);
    font-weight: 500;
    margin: 0;
}

.new-row p.longer-text {
    width: 300px;
}

#first-column {
    border-left: 3px solid black;
}

.status {
    border: none;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    padding: 5px 0;
    width: 150px;
    text-align: center;
    background: rgb(212, 160, 62);
    font-family: 'Sansita Swashed', cursive;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.status:hover {
    background: rgb(212, 122, 62);
}

.remove {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 0;
    width: 100px;
    text-align: center;
    background: rgb(199, 108, 24);
    font-family: 'Sansita Swashed', cursive;
    font-weight: 700;
    margin: 5px 10px;
    cursor: pointer;
    outline: none;
}

.remove:hover {
    background: rgb(212, 160, 62);
}