*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    background: rgb(139,69,19);
    font-family: 'Sansita Swashed', cursive;
}

#main-title {
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 1.875rem;
    font-weight: 900;
}

#styleButton {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1.5625rem;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    background: rgb(205,133,0);
    cursor: pointer;
}

.form {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%) scale(0);
    transition: 250ms ease-in-out;
    width: 400px;
    z-index:5;
    background: white;
}

.form.active {
    transform : translate(-50%, -50%) scale(1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.header-text {
    font-size: 1.25rem;
}

.closeButton {
    font-size: 2rem;
    cursor: pointer;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
}

.submit {
    background: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
    transition: 250ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    z-index: 4;
}

.display {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 30%;
    margin-bottom: 100px;
}

.card {
    cursor: pointer;
    margin: 0 20px;
}

.face {
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    transition: 0.5s;
    border-radius: 10px;
}

.face1 {
    position: relative;
    background: rgb(205,133,0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face1 {
    transform: translateY(0);
}

.content1 {
    opacity: 0.8;
    transition: 0.8s;
}

.card:hover .content1 {
    opacity: 1;
}

img {
    max-width: 100px;
    padding: 0;
}

.title {
    margin: 10px 0 0;
    padding: 0 20px;
    color: black;
    text-align: center;
    font-size: 1.5625rem;
    font-weight: 900;
    word-break: break-all;
}

.face2 {
    position: relative;
    background: rgb(230, 136, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card:hover .face2 {
    transform: translateY(0px);
}

.text {
    font-size: 1.25rem;
    font-weight: 700;
    color: black;
    padding: 10px;
}